/*

    Based on CodeMirror template by Jan T. Sott (https://github.com/idleberg/base16-codemirror)

*/

.cm-s-sampo.CodeMirror { font-family: MxPlus; background: black; color: white; width: calc(70 * 8px); }
.cm-s-sampo div.CodeMirror-selected { background: #808080; }
.cm-s-sampo .CodeMirror-line::selection, .cm-s-sampo .CodeMirror-line > span::selection, .cm-s-sampo .CodeMirror-line > span > span::selection { background: rgba(48, 48, 48, .99); }
.cm-s-sampo .CodeMirror-line::-moz-selection, .cm-s-sampo .CodeMirror-line > span::-moz-selection, .cm-s-sampo .CodeMirror-line > span > span::-moz-selection { background: rgba(48, 48, 48, .99); }
.cm-s-sampo .CodeMirror-gutters { background: #000000; border-right: 0px; }
.cm-s-sampo .CodeMirror-guttermarker { color: #ff0000; }
.cm-s-sampo .CodeMirror-guttermarker-subtle { color: #808000; }
.cm-s-sampo .CodeMirror-linenumber { color: #808080; }
.cm-s-sampo .CodeMirror-cursor { border-left: 1px solid #ffffff; }

.cm-s-sampo span.cm-comment { color: #008000; }
.cm-s-sampo span.cm-atom { color: #ffffff; }
.cm-s-sampo span.cm-number { color: #008080; }

.cm-s-sampo span.cm-property, .cm-s-sampo span.cm-attribute { color: #808080; }
.cm-s-sampo span.cm-keyword { color: #ff0000; }
.cm-s-sampo span.cm-string { color: #808080; }
.cm-s-sampo span.cm-builtin { color: #c0c0c0; }
.cm-s-sampo span.cm-variable { color: #00ff00; }
.cm-s-sampo span.cm-variable-2 { color: #ffff00; }
.cm-s-sampo span.cm-def { color: #00ffff; }
.cm-s-sampo span.cm-bracket { color: #ffffff; }
.cm-s-sampo span.cm-tag { color: #800080; }
.cm-s-sampo span.cm-link { color: #ff00ff; }
.cm-s-sampo span.cm-error { background: #ff0000; color: #000000; }

.cm-s-sampo .CodeMirror-activeline-background { background: #000000; }
.cm-s-sampo .CodeMirror-matchingbracket { text-decoration: underline; color: white !important; }
