@font-face {
	font-family: MxPlus;
	src: url(MxPlus_IBM_VGA_8x14.woff2) format("woff2");
}

body {
	margin: 0;
	padding: 0;
	font-family: MxPlus;
	background-color: black;
	color: white;
}

nav {
	display: flex;
	flex-direction: row;
}

h1 {
	text-align: center;
	margin-top: 0;
}

a {
	color: rgb(124, 240, 124);
}

#console, #text {
	display: inline;
	background: black;
	color: white;
	font-family: MxPlus;
	font-size: 12pt;
}
		    
#console {
	white-space: pre-wrap;
}

#text {
	border: 1px grey dotted;
	margin: 0;
	padding: 0;
}

#text:focus {
	border-color: black;
}

#canvas {
	width: 640;
	height: 400;
	font-family: MxPlus;
	border: 1px gray dotted;
	image-rendering: crisp-edges;
}

.console-canvas-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.area {
	margin: 1rem;
	width: 640;/*40vw;*/
}

.canvas-area {
	width: 640;
}

.development-environment {
	display: flex;
	flex-direction: row-reverse;
	align-items: stretch;
	justify-content: space-between;
	height: 100vh;
}

@media (max-width: 1280px) {
	.development-environment {
		flex-direction: column;
		align-items: center;
		height: 100%;
	}
}

button, select {
	color: black;
	background: #c0c0c0;
	border: 2px solid 808080;
	font-family: MxPlus;
}

button[disabled] {
	display: none;
}

.editor-container {
	margin: 1rem;
	display: flex;
	flex-direction: column;
}

.CodeMirror {
	margin-top: 1rem;
	flex: 1;
}

.result-cell {
	text-align: center;
	color: black;
	border-color: white;
}

.success {
	background-color: rgb(124, 240, 124);
}

.failure.significant {
	background-color: rgb(240, 124, 124);
}


.failure {
	background-color: orange;
}



table {
	border-collapse: collapse;
}

.blurb-container {
	display: flex;
	flex-direction: column;
	align-items: center;

}
.text-paragraph {
	width: 80%;
	left: 10%;
}
